services:
  fitness-spark:
    build: .
    container_name: fitness-spark
    restart: always
    environment:
      - VIRTUAL_HOST=fitness-spark-api.akal.com.np 
    networks:
      - frontend
    expose:
      - "9000"

networks:
  frontend:
    external: true
